<% layout("/layouts/boilerplate") %>

    <body>
      <div class="row ">
        <div class="col-8 offset-2" >
        <div class="listing  mt-4 mb-4">  <h3>Create new Listings</h3>
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3 ">
                    <label for="title" class="form-label ">Title</label>
                    <input type="text" name="listing[title]" id="" placeholder="enter your title" required class="form-control " 
                        >
                        <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3  ">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" placeholder="enter description"required
                        class="form-control"></textarea>
                        <div class="invalid-feedback">Please Enter Description</div>

                </div>
                <!-- <div class="mb-3  ">
                    <label for="image" class="form-label">Image link</label>
                    <input type="text" name="listing[image.url]" placeholder="enter image url" class="form-control "required
                        >
                        <div class="invalid-feedback">Please Enter a valid image link</div>
                </div> -->
                <div class="mb-3  ">
                    <label for="image" class="form-label">upload Image</label>
                    <input type="file" name="listing[image]" class="form-control "required
                        >
                        <div class="invalid-feedback">Please Enter a valid image link</div>
                </div>
                <div class="mb-3 ">
                    <label for="price" class="form-label">Price</label>
                    <input type="" name="listing[price]" placeholder="enter price" class="form-control" required >
                    <div class="invalid-feedback">Enter a valid price</div>


                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="enter your title" class="form-control"
                        required>
                        <div class="invalid-feedback">Please Enter a Valid Country name</div>

                </div>
                <div class="mb-3  ">
                    <label for="location" class="form-label">Location</label>

                    <input type="text" name="listing[location]" placeholder="enter location" class="form-control "
                        required>
                        <div class="invalid-feedback">Please Enter a Valid location</div>

                </div>
                <button class="btn btn-dark">Add</button>
            </form>   
        </div></div></div>
       
    </body>